form {
  width: 100%;
  max-width: 500px;
  margin: 30px auto;
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 12px;
  border: 1px solid #333;
  border-radius: 8px;
  box-shadow: #000;
}

.col_container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

label {
  text-align: start;
}

input {
  padding: 4px;
  font-size: 18px;
  outline: 0;
  border: none;
  border-bottom: 1px solid #000;
}

button {
  width: 100px;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
  background: #000;
  color: white;
  cursor: pointer;
}
